body{
    background: url('/static/image/productview.jpeg');
    font-size:xx-large  ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 200px;
    font-style:normal;
    font-variant: small-caps;
    color:pink;


}